* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
height: 100vh;
background-color: whitesmoke;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

nav {
width: 100%;
background-color: burlywood;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
position: fixed;
top: 0;
z-index: 1000;
}

nav ul {
width: 100%;
list-style: none;
display: flex;
justify-content: flex-end;
align-items: center;
}

nav li {
height: 50px;
}

nav a {
height: 100%;
padding: 0 30px;
text-decoration: none;
display: flex;
align-items: center;
color: black;
}

nav a:hover {
color: aqua;
}

nav li:first-child {
margin-right: auto;
}

.sidebar {
position: fixed;
top: 0;
right: 0;
height: 100vh;
width: 250px;
z-index: 999;
background-color: rgba(255, 255, 255, 0.8);
backdrop-filter: blur(10px);
box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
display: none;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding-top: 1rem;
}

.sidebar li {
width: 100%;
}

.sidebar a {
width: 100%;
padding: 10px 20px;
box-sizing: border-box;
}

.menu-button {
display: none;
}

@media (max-width: 800px) {
.hideOnMobile {
  display: none;
}
.menu-button {
  display: block;
}
}

@media (max-width: 200px) {
.sidebar {
  width: 100%;
}
}

.slides-container {
width: 400px;
height: 600px;
display: grid;
place-items: center;
overflow: hidden;
position: relative;
margin-top: 80px;
}

.slide {
width: 100%;
height: 100%;
position: absolute;
transition: transform 300ms ease-out;
}

.slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 1.5rem;
border: 2px solid white;
}

.btn {
background: none;
border: none;
font-size: 24px;
cursor: pointer;
transform: translateY(-50%);
position: absolute;
}

.btn span {
color: hsl(281, 100%, 35%);
}

.btn span:hover {
color: hsl(281, 100%, 40%);
}

.btn.previous {
top: 50%;
left: 10px;
}

.btn.next {
top: 50%;
right: 10px;
}

.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 10px;
  flex-wrap: wrap;
}

.box {
width: 80%;
max-width: 600px;
padding: 15px;
background-color: wheat;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-content {
text-align: center;
}

.box p {
text-align: justify;
}

.text-animate {
margin-top: 10px;
}

.photo-index {
width: 250px;
height: 600px;
display: grid;
place-items: center;
overflow: hidden;
position: relative;
margin-top: 80px;
}

.content-box {
  width: 500px;
  background: white;
  padding: 20px;
  box-shadow: 0 0 3px #cacaca;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.content-title h2 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

.riwayat-pendidikan-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.riwayat-pendidikan-content ul li a {
  text-decoration: none;
}

.riwayat-pendidikan-content ul li span {
  font-size: 16px;
  color: slategrey;
  display: block;
  margin-top: 10px;
  padding-left: 20px;
  position: relative;
}

.riwayat-pendidikan-content ul li span::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 3px solid #b13636;
  top: 2px;
  left: 0;
  border-radius: 50px;
}

.riwayat-pendidikan-content ul li h3 {
  font-size: 22px;
  line-height: 30px;
  border: 3px solid #bd5050;
  border-width: 0 0 0 3px;
  padding: 5px 0 5px 16px;
  margin-left: 5px;
}

.galery {
  display: flex;
  gap: 50px;
}

.galery-card {
  width: 300px;
  aspect-ratio: 1 / 1.3;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.galery-card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.galery-card > .galery-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: whitesmoke;
  padding: 1.4rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease, transform 0.3s ease;
}

.no-underline {
  text-decoration: none;
}

.galery-card:hover img {
  transform: scale(1.1);
}

.galery-card:hover > .galery-content {
  opacity: 1;
  transform: translateY(0);
}

.galery:hover > .galery-card:not(:hover) {
  filter: blur(5px);
}

@media only screen and (max-width: 600px) {
  .galery {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: -100px;
  }

  .galery-card {
    width: 50%;
    aspect-ratio: 1;
    margin-top: 50px;
  }

  .galery-card > .galery-content {
    height: auto; 
    border-radius: 0;
  }

  .photo-index {
    margin-bottom: -50px;
  }
  
  .container {  
    margin-top: -50px;
  }

  .content-box {
    width: 380px;
  }
}
